{% extends 'layout.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'main/styles/Calendar.css' %}">
{% endblock %}

{% block body %}
<div class="container">
  <div class="left">
    <div class="calendar">
      <div class="month">
        <i class="fas fa-angle-left prev"></i>
        <div class="date">december 2015</div>
        <i class="fas fa-angle-right next"></i>
      </div>
      <div class="weekdays">
        <div>Sun</div>
        <div>Mon</div>
        <div>Tue</div>
        <div>Wed</div>
        <div>Thu</div>
        <div>Fri</div>
        <div>Sat</div>
      </div>
      <form id="Formforevents" action="" method="post">
        {% csrf_token %}
        <input style="opacity: 0; z-index: -999;" type="text" name="date" id="dateforevents" >
        <input style="opacity: 0; z-index: -999;" type="text" name="bool" value="0" >
      <div class="days">
      </div>
    </form>
      <div class="goto-today">
        <div class="goto">
          <input type="text" placeholder="mm/yyyy" class="date-input" />
          <button class="goto-btn">Go</button>
        </div>
        <button class="today-btn">Today</button>
      </div>
    </div>
  </div>
  <div class="right">
    <div class="today-date">
      <div class="event-day">wed</div>
      <div class="event-date">12th december 2022</div>
    </div>
    <div class="events">
       <div id="dateadd" style="opacity: 0; z-index: -999;" >{{date}}</div>
      {% for event in events %}
      <div class="title">
        <h3 class="event-title">{{event.task}}</h3>
       </div>
       {% endfor %}
       
       <div class="no-event">
          <h3>No Events</h3>
        </div>
        
        {% comment %} {% for today in todays %}
        <div class="title">
          <h3 class="event-title">{{today.task}}</h3>
         </div>
        {% endfor %} {% endcomment %}
        
    </div>
    <div class="add-event-wrapper">     
      <div class="add-event-header">
        <div class="title">Add Event</div>
        <i class="fas fa-times close"></i>
      </div>
      <form action="" method="post">
        {% csrf_token %}
      <div class="add-event-body">
        <div class="add-event-input">
          <input type="text" placeholder="Event Name" name="body" class="event-name" />
        </div>
        <input style="opacity: 0; z-index: -999;" type="text" name="bool" value="1" >
        <input id="date2Add" style="opacity: 0; z-index: -999;" type="text" name="date"  >
      </div>
      <div class="add-event-footer">
        <button id="subadd" type="submit" class="add-event-btn">Add Event</button>
      </div>
    </form>
    </div>
  </div>
  <button class="add-event">
    <i class="fas fa-plus"></i>
  </button>
</div>
{% endblock body %}

{% block js %}
<script src="{% static 'main/script/Calendar.js' %}"></script>
{% endblock %}